html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: rgb(64, 33, 74);
  color: peachpuff;
  font-size: 1.5em;
  font-family: 'Chewy', cursive;
}

.content {
  width: 100vmin;
  margin: 10px auto 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-grid {
  width: 80vmin;
  height: 80vmin;
  max-width: 600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, calc((100% - 60px)/4));
  grid-template-rows: repeat(4, calc((100% - 60px)/4));
  grid-gap: 20px;
}

.gameinfo {
  width: 80vmin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.card-grid > div:nth-child(4n+1):nth-child(-n + 16) {
  grid-column: 1 / 2;
}

.card-grid > div:nth-child(4n+2):nth-child(-n + 16) {
  grid-column: 2 / 3;
}

.card-grid > div:nth-child(4n+3):nth-child(-n + 16) {
  grid-column: 3 / 4;
}

.card-grid > div:nth-child(4n+4):nth-child(-n + 16) {
  grid-column: 4 / 5;
}

.card-grid > div:nth-child(-n + 4):nth-child(-n + 16) {
  grid-row: 1 / 2;
}

.card-grid > div:nth-child(n+5):nth-child(-n+8) {
  grid-row: 2 / 3;
}

.card-grid > div:nth-child(n+9):nth-child(-n+12) {
  grid-row: 3 / 4;
}

.card-grid > div:nth-child(n+13):nth-child(-n+16) {
  grid-row: 4 / 5;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0;
  border: 1px solid #2d1833;
  border-radius: 5px;
  background: rgba(255,175,75,1);
  background: rgba(168,40,91,1);
  background: linear-gradient(135deg, rgba(168,40,91,1) 0%, rgba(168,40,91,1) 24%, rgba(227,139,32,1) 77%, rgba(227,139,32,1) 91%, rgba(227,139,32,1) 100%);
}

.card--open {
  font-size: calc((10vmin + 7vmax) / 2);
  transition-duration: 0.5s;
  transform: rotateY(180deg);
}

.card--match {
  animation: enlarge 0.5s;
  animation-delay: 0.5s;
  transition: visibility 1.5s, font-size 0.5s;
  background: rgba(7,235,15,1);
  background: radial-gradient(ellipse at center, rgba(7,235,15,1) 0%, rgba(48,227,54,1) 39%, rgba(112,191,115,1) 100%);
  visibility: hidden;
}

@keyframes enlarge {
  10% { transform: scale3d(1.05, 1.05, 1.05) rotateY(180deg);}
  30% { transform: scale3d(1.1, 1.1, 1.1) rotateY(180deg);}
  50% { transform: scale3d(1.15, 1.15, 1.15) rotateY(180deg);}
  70% { transform: scale3d(1.1, 1.1, 1.1) rotateY(180deg);}
  90% { transform: scale3d(1, 1, 1) rotateY(180deg);}
}
.card--nomatch {
  animation: shake 0.7s;
  animation-delay: 0.5s;
  transition-duration: 0.5s;
  background: rgba(219,31,31,1);
  background: radial-gradient(ellipse at center, rgba(219,31,31,1) 0%, rgba(219,31,31,1) 63%, rgba(217,83,83,1) 100%);
}

@keyframes shake {
  10%, 90% { transform: translate(-3px, 0) rotateY(180deg);}
  20%, 80% { transform: translate(3px, 0) rotateY(180deg);}
  30%, 70% { transform: translate(-4px, 0) rotateY(180deg);}
  40%, 60% { transform: translate(4px, 0) rotateY(180deg);}
  50%, 50% { transform: translate(0, 0) rotateY(180deg);}
}

.win-message {
  grid-column: 1 / 5;
  grid-row: 2 / 4;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 2px solid blue;
  border-radius: 2px;
}

.restart-button {
  min-width: 60px;
  min-height: 48px;
  border: 1px solid yellow;
  font-size: 2em;
}

@keyframes shine{
 10% {
   opacity: 1;
   top: -30%;
   left: -30%;
   transition-property: left, top, opacity;
   transition-duration: 0.7s, 0.7s, 0.15s;
   transition-timing-function: ease;
 }
 100% {
   opacity: 0;
   top: -30%;
   left: -30%;
   transition-property: left, top, opacity;
 }
}

@media screen and (max-width: 410px) {
  .gameinfo {
    justify-content: space-evenly; 
  }

  .stars {
    width: 100%;
    text-align: center;
    order: 1;
    margin-bottom: 10px;
  }
}
