html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.content {
  width: 100%;
}

.card-grid {
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  height: 25%;
  background-color: red;
  border: 2px solid black;
}

.card--open {
  background-color: green;
}
